html,
body {
  margin: 0;
  padding: 0;
}

.nav {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: minmax(100px, auto);
  align-items: center;
  position: fixed;
}

.nav .logo {
  height: 36px;
}

.nav > div {
  padding: 1em;
}

/* searchbar */
.nav * {
  box-sizing: border-box;
}

/* Style the search field */
.nav form.searchbar input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
.nav form.searchbar button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #e4e4e4;
  color: rgb(104, 104, 104);
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

.nav form.searchbar button:hover {
  background: #cccaca;
}

/* Clear floats */
.nav form.searchbar::after {
  content: "";
  clear: both;
  display: table;
}

/* Navigation Icons */
.nav .icons {
  justify-self: end;
  color: #606060;
}

.nav .icons i {
  padding-right: 16px;
}

/* Main Section */
.main {
  display: flex;
  justify-content: space-between;
}

.main .video {
  flex-basis: 75%;
}

.main .video iframe {
  width: 100%;
  height: 500px;
  border: none;
}

.main .aside {
  flex-basis: 23%;
}

.main .aside .item {
  display: flex;
}

.main .aside .item div {
  flex: 1;
}

.video .details-2 img {
  padding: 1em;
  border-radius: 45px;
}

.main .aside .item img {
  width: 100%;
  height: 85%;
}

.main .aside .item .vid_info {
  display: flex;
  flex-direction: column;
  margin-left: 7px;
}

.main .aside .item .vid_info p {
  margin: 0 0 2px 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.main .aside .item .vid_info p:first-child {
  font-weight: bold;
}

.main .aside .item .vid_info .vid_auth {
  font-size: 14px;
  color: #9b9b9b;
}

.main .aside .item .vid_info .vid_views {
  font-size: 14px;
  color: #9b9b9b;
}

/* Video description */

.video .desc .details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  border-bottom: 1px solid #ccc;
  color: #606060;
}

.video .desc h1 {
  font-size: 26px;
}

.video .desc .details .buttons {
  text-align: right;
}

.video .desc .details .buttons a {
  color: #606060;
  margin-left: 5px;
  text-decoration: none;
}

.video .details-2 {
  display: grid;
  grid-template-columns: 1fr 10fr;
}

.video .details-2 .desc {
  margin: 0;
  padding: 1em;
}

.video .details-2 .suscribe {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: end;
  padding: 1em;
}

.video .details-2 .suscribe .author {
  font-size: 1.3em;
  margin: 0;
  font-weight: bold;
}

.video .details-2 .suscribe .suscribers {
  margin: 0;
  color: #606060;
}

.video .details-2 .suscribe .suscribe-btn {
  text-align: right;
}

.video .details-2 .suscribe .suscribe-btn button {
  height: 37px;
  width: 161px;
  background-color: #c00;
  font-size: 15px;
  color: white;
  border-radius: 3.1px;
}
