.nav {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: minmax(100px, auto);
  align-items: center;
}

.nav .logo {
  height: 36px;
}

.nav > div {
  padding: 1em;
  /* background-color: #666; */
}

.nav > div:nth-child(odd) {
  /* background-color: #444; */
}

/* searchbar */
.nav * {
  box-sizing: border-box;
}

/* Style the search field */
.nav form.searchbar input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
.nav form.searchbar button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #e4e4e4;
  color: rgb(104, 104, 104);
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

.nav form.searchbar button:hover {
  background: #cccaca;
}

/* Clear floats */
.nav form.searchbar::after {
  content: "";
  clear: both;
  display: table;
}

/* Navigation Icons */
.nav .icons {
  justify-self: end;
  color: #606060;
}

.nav .icons i {
  padding-right: 16px;
}
